.button {
  background-color: #7ae42d;
  display: inline-block;
  padding: 25px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  color: #e163ed;
  font-size: 26px;
  font-weight: bolder;
}

.button .activity-calendar img {
  margin-left: 10px;
}

a {
  cursor: pointer;
}

.activity-calendar {
  margin-top: 15px;
}

.button:hover {
  background-color: none;
  border: 2px black;
}

.button {
  width: fit-content;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  padding: 19px 24px;
  border: 6px solid #e163ed;
  background-color: transparent;
}
