.button {
  background-color: #7ae42d;
  display: inline-block;
  padding: 25px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  color: #e163ed;
  font-size: 26px;
  font-weight: bolder;
}

.button .activity-calendar img {
  margin-left: 10px;
}

a {
  cursor: pointer;
}

.activity-calendar {
  margin-top: 15px;
}
