h2 {
  color: #0090f6;
  margin-bottom: 14px;
  font-size: 26px;
  font-weight: bolder;
  margin-top: 95px;
}

.about-us p {
  font-size: 26px;
}

.about-us h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
}
