.information {
  margin-top: 90px;
}

.information-title {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  font-size: 26px;
}

.information-title .container {
  padding-top: 15px;
}
