h3 {
  color: #0090f6;
  margin-top: 10px;
  font-size: 21px;
  margin-bottom: 20px;
}

.card-activity span {
  font-size: 16px;
}

.card-activity img {
  margin-bottom: 15px;
  border-radius: 15px;
}
